repos:
  - repo: 'https://github.com/psf/black'
    rev: 20.8b1
    hooks:
      - id: black
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.3.0
    hooks:
      - id: end-of-file-fixer
        exclude: '^docs/[^/]*\.svg$'
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: |
          CONTRIBUTORS.txt|
          docs/spelling_wordlist.txt|
          .gitignore|
          .gitattributes
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-added-large-files
      - id: check-symlinks
      - id: debug-statements
      - id: detect-aws-credentials
        args:
          - '--allow-missing-credentials'
      - id: detect-private-key
        exclude: ^examples/
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.8.4
    hooks:
      - id: flake8
        exclude: ^docs/
