acme==1.9.0
acme-tiny==4.1.0
aiohttp==3.6.3
aiohttp-devtools==0.13.1
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.1.1
devtools==0.6
greenlet==0.4.17
idna==2.10
josepy==1.4.0
multidict==4.7.6
pycparser==2.20
Pygments==2.7.1
pyOpenSSL==19.1.0
pyRFC3339==1.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
git+https://github.com/sqlalchemy/sqlalchemy.git@8d588b06d984cb053be53e779cfa11b1d5166f03
urllib3==1.25.11
watchgod==0.6
yarl==1.5.1
