broker:
  hostname: '127.0.0.1'
  port: 8180
  db: 'postgresql+asyncpg://acme:YOUR_PASSWORD@localhost:5432/acme'
  challenge_validator: 'requestipdns'
  rsa_min_keysize: 2048
  ec_min_keysize: 256
  tos_url: 'https://my-broker.com/tos'
  mail_suffixes:
    - 'uni-hannover.de'
    - 'tib.eu'
  subnets:
    - '127.0.0.1/32' # localhost
    - '10.0.0.0/8' # class A private network
    - '172.16.0.0/12' # 16 class B private networks
    - '192.168.0.0/16' # 256 class C private networks
    - '130.75.0.0/16' # Uni Hannover IP range
  use_forwarded_header: false
  require_eab: false
  client:
    directory: 'https://acme-v02.api.letsencrypt.org/directory' # Let's Encrypt directory
    private_key: '/etc/acme_server/broker_client_account.key'
    contact:
      email: 'broker@my-broker.com'
    challenge_solver:
      infoblox:
        host: 'ipam.my-broker.com'
        username: 'infobloxuser'
        password: 'infobloxpassw'
        dns_servers:
          - '8.8.8.8' # Google DNS
          - '1.1.1.1' # Cloudflare DNS
logging:
  version: 1
  formatters:
    simple:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    simple_root:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: simple
      stream: ext://sys.stdout
    root_console:
      class: logging.StreamHandler
      level: INFO
      formatter: simple_root
      stream: ext://sys.stdout
  loggers:
    asyncio:
      level: ERROR
      handlers: [console]
      propagate: no
    acmetk:
      level: INFO
      handlers: [console]
      propagate: no
    acme.client:
      level: INFO
      handlers: [console]
      propagate: no
    aiohttp.access:
      level: INFO
      handlers: [console]
      propagate: no
    aiohttp.client:
      level: INFO
      handlers: [console]
      propagate: no
    aiohttp.internal:
      level: INFO
      handlers: [console]
      propagate: no
    aiohttp.server:
      level: INFO
      handlers: [console]
      propagate: no
    aiohttp.web:
      level: INFO
      handlers: [console]
      propagate: no
  root:
    level: INFO
    handlers: [root_console]
  disable_existing_loggers: no
