[Unit]
Description=ACME Server

[Service]
WorkingDirectory=/srv/acmetk
ExecStart=/srv/acmetk/venv/bin/python -m acmetk run --config-file=/etc/acmetk/config.yml

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure

# Use the created user to run our service
User=acmetk

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
