{% extends "template.jinja2" %}

{%  block body %}
<h1>Accounts</h1>
<table>
{% for account in accounts %}
<tr>
    <td>{{ account_url(account) }}</td>
    <td>{{ account.contact }}</td>
    <td>{{ account.status }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
