{%  extends "template.jinja2" %}

{%  block body %}
<h1>Account</h1>
<p>
<table>
<tr>

    <td>Status</td>
    <td>{{ account.status }}</td>
</tr>
<tr>
    <td>Contact</td>
    <td>{{ account.contact }}</td>
</tr>
<tr>
    <td>Fingerprint</td>
    <td>{{ account_url(account, l=32) }}</td>
</tr>

<tr>
    <td>Key</td>
    <td><pre>{{ account.key.decode() }}</pre></td>
</tr>
</table>
</p>
<h2>History</h2>
<table>
{% for c in account.changes %}
{% if loop.changed(time(c.timestamp, fmt='%Y-%m-%d')) %}
<tr class="h">
<td colspan="3" >{{ time(c.timestamp, fmt='%Y-%m-%d')  }}</td>
</tr>
{% endif %}
<tr>
<td>{{ time(c.timestamp, fmt='%H:%M:%S.%f %Z') }}</td>
<td>{{ c.entity.identity }}/{{ shorten(c.entity|attr(c.entity.identity), 13) }}</td>
<td>
    <ul class="data">
{% for i in c.data %}
    {{change(i)}}
{% endfor %}
    </ul>
</td>
</tr>
{% endfor %}
</table>

<h2>Orders</h2>
<table>
<tr class="h">
    <th>order</th>
    <th>status</th>
    <th>authorizations</th>
    <th>expires</th>
</tr>
{% for o in orders|reverse %}
<tr>
    <td>{{ order_url(o) }}</td>
    <td>{{ o.status }}</td>
    <td>
{% for a in o.authorizations|sort(attribute='identifier.value') %}
    <a href="{{ url_for('mgmt-order', order=o.order) }}#{{ a.authorization }}">{{ a.identifier.value }}</a>
{% endfor %}
    </td>
    <td>
        {{ time(o.expires) }}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
