{%  extends "template.jinja2" %}

{%  block body %}
<h1>Changes</h1>
{{ paginate(page) }}
<table>
<tr class="h">
    <th>Time</th>
    <th>Account</th>
    <th>Order</th>
    <th>Identifier/Object</th>
    <th>Change</th>
</tr>
{% for c in changes %}
{% if loop.changed(time(c.timestamp, fmt='%Y-%m-%d')) %}
<tr class="h">
<td colspan="3" >{{ time(c.timestamp, fmt='%Y-%m-%d')  }}</td>
</tr>
{% endif %}

<tr>
    <td rowspan="3">{{ time(c.timestamp, fmt='%H:%M:%S.%f %Z') }}</td>
    <td>{{ account_url(c.entity, l=13) }}</td>
    <td rowspan="3">
    <ul class="data">
{% for i in c.data %}
{{  change(i) }}
{% endfor %}
    </ul>
    </td>
</tr>
<tr>
<td>{{ order_url(c) }}</td>
</tr>
<tr>
    <td>{{ c.entity.identity }}/{{ entity_url(c.entity) }}</td>
</tr>
{% endfor %}
</table>
{{ paginate(page) }}
{% endblock %}
