{% block body %}
    <h3>External Account Binding</h3>

    <p>Create an External Account Binding for the ACMEv2 service:</p>
    <form action="/create-eab" method="post">
        <button>Create EAB</button>
    </form>

{% endblock %}
