{%  extends "template.jinja2" %}

{%  block body %}
<h3>Statistics</h3>

<table>
<tr class="h">
    <th>Date</th>
    <th>Changes</th>
    <th>Orders</th>
    <th>Certificates</th>
</tr>
{% for date,s,total,unique in statistics %}
<tr class="{{loop.cycle('odd', 'even')}}">
    <td class="n">{{ date.strftime("%Y-%m-%d") }}</td>
    <td class="n">{{ total }} ({{ unique }}) </td>
    <td class="n">{{ s.order.unique }} ({{ s.order.total }})</td>
    <td class="n">{{ s.certificate.unique }} ({{ s.certificate.total }})</td>
</tr>
{% endfor %}
</table>

{% endblock %}
