{%  extends "template.jinja2" %}

{%  block body %}
<h1>Orders</h1>
{{ paginate(page) }}
<table>
<tr class="h">
    <th>Time</th>
    <th>Remote</th>
    <th>Account</th>
    <th>Order</th>
    <th>Identifiers</th>
</tr>
{% for o in orders %}
{% set zebra=loop.cycle('odd', 'even') %}
{% set c = o.changes[-1] %}
{% if loop.changed(time(c.timestamp, fmt='%Y-%m-%d')) %}
<tr class="h">
<td colspan="5" >{{ time(c.timestamp, fmt='%Y-%m-%d')  }}</td>
</tr>
{% endif %}

<tr class="{{ zebra }}">
    <td>{{ time(c.timestamp, fmt='%H:%M:%S %Z') }}</td>
    <td>-- REDACTED --</td>
    <td>{{ account_url(o, l=13) }}</td>
    <td>{{ order_url(o) }}</td>
    <td>{{ o.identifiers|map(attribute='value')|join(' ') }}</td>
</tr>
{% endfor %}
</table>
{{ paginate(page) }}
{% endblock %}
