{% extends "template.jinja2" %}
{% from "csr.jinja2" import csr,alginfo_of with context %}

{%  block body %}
<h1>Order <code>{{ order.order_id }}</code></h1>
<p>

<table>
    <tr>
        <td>Account:</td>
        <td>{{ account_url(order.account) }}</td>
    </tr>
    <tr>
        <td>CSR</td>
{%  if order.csr %}
        <td><a href="{{ url_for('mgmt-csr', order=order.order_id|string)}}">Yes</a></td>
    </tr>
    <tr>
        <td  valign="top">Names</td>
        <td>
{% for name in names_of_csr(order.csr) %}
    {{ name }} </br>
{% endfor %}
        </td>
    </tr>
    <tr>
        <td>Profile</td>
        <td>{{ order.profile or "-" }}</td>
    </tr>

    <tr>
        <td>Alg/Bits</td>
        <td>{{ alginfo_of(order.csr.public_key()) }}</td>
    </tr>
{% else %}
        <td>MISSING</td>
    </tr>
{% endif %}

    <tr>
        <td>Status:</td>
        <td>{{ order.status.name }}</td>
    </tr>
    <tr>
        <td>Expires:</td>
        <td>{{ time(order.expires, 'No') }}</td>
    </tr>
    <tr>
        <td>Certificate:</td>
        <td>
{% if order.certificate %}
            <a href="{{ url_for('mgmt-certificate', certificate=order.certificate.certificate_id|string)}}">Yes</a>
{% else %}
            No
{% endif %}
        </td>
    </tr>
    <tr>
        <td>CertId:</td>
        <td>
{% if order.certificate %}
            {{ order.certificate.certid }}
{% else %}
            -
{% endif %}
        </td>
    </tr>
    <tr>
        <td>Replaced_by:</td>
        <td>
{% for replaced_by in order.certificate.replaced_by or []%}
            <a href="{{ url_for('mgmt-order', order=replaced_by.order_id|string)}}">{{ replaced_by.order_id }}</a>
{% endfor %}
        </td>
    </tr>
    <tr>
        <td  valign="top">Replaces:</td>
        <td>
{% if order.replaces %}
            <a href="{{ url_for('mgmt-order', order=order.replaced_obj.order_id|string)}}">{{ order.replaced_obj.order_id }}</a>
{% else %}
            -
{% endif %}
        </td>
    </tr>

</table>
</p>
<h2>Authorizations & Challenges</h2>
<table>
<tr class="h">
    <td colspan="2" >domain</td>
    <td>authz</td>
    <td>expires</td>
    <td rowspan="2">status</td>
</tr>
<tr>
    <td></td>
    <td>type</td>
    <td>challenge</td>
    <td>validated</td>
</tr>
<tr><td colspan="4"></td></tr>
{% for a in order.identifiers|map(attribute='authorization')|sort(attribute='identifier.value') %}
<tr class="h">
    <td colspan="2">{{ a.identifier.value }}</td>
    <td>{{ a.authorization_id }}</td>
    <td>{{ time(a.expires) }}</td>
    <td>{{ a.status.name }}</td>
</tr>
{% for c in a.challenges|sort(attribute='type') %}
<tr>
    <td></td>
    <td>{{ c.type.name }}</td>
    <td>{{ c.challenge_id }}</td>
    <td>{{ time(c.validated) }}</td>
    <td>{{ c.status.name }}</td>
</tr>
{%  endfor %}
<tr><td colspan="5"></td></tr>
{%  endfor %}
</table>

<h2>History</h2>
<table>
{% set ns = namespace(time=None) %}
{% for c in changes %}
{% if loop.changed(time(c.timestamp, fmt='%Y-%m-%d')) %}
<tr class="h">
<td colspan="3" >{{ time(c.timestamp, fmt='%Y-%m-%d')  }}</td>
</tr>
{% endif %}
<tr>
{% set now = time(c.timestamp, fmt='%H:%M:%S.%f %Z')%}
{% if ns.time != now %}
{% set ns.time = now %}
<td>{{ now }}</td>
{% else %}
<td></td>
{% endif %}
<td>{{ c.entity.identity }}/{{ c.entity|attr(c.entity.identity + '_id') }}</td>
<td>
    <ul class="data">
{% for i in c.data %}
    {{change(i)}}
{% endfor %}
    </ul>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
